
.navbar-brand /* Nav bar styling*/
{
  font-size:2em;
  margin-left:27%;

  float: left;
  color: #ffffff;
  background-color: #E85465;
  text-align: center;
  width: 200px;

}
.nav-link /* Nav bar link to other page styling*/
{
    font-size:1.2em;
	padding-left:35%;
    color: #999;
}

body {
 background-image: url("../images/b2.png");

}
.right-side{
    margin-right:12%;
}
.my-content{
 min-height: calc(100vh - 70px);
  margin-top:20px;
  background-color: lavenderblush;
  margin-bottom: 20px;

}
.my-content h3 /* Container styling*/
{
  padding: 20px;
  color: #6B0DFF;
  
  font-size: 27px;
}
hr /* Line styling within container*/
{
  background-color: #999;
  border: 0 none;
  color:#999;
  height: 1px;
}
.btn.btn-primary /* Overriding button color*/
{
    background-color: #E85465;
}
.btn /*Overriding button margin*/
{
    margin-bottom: 10px;
}
#side-image /* Image styling*/
{
  width: 100%;
   transition: transform .5s ease;
   overflow:hidden;
}
#side-image:hover /* Image styling*/
{
	transform: scale(1.5);
}
.content-holder /* Portfolio content holder styling*/
{

    padding-bottom:20px;
}
.grid /* Image grid*/
{
    padding-bottom:20px;
	padding-left: 0px;
	overflow: hidden;
	padding-right:0px;
	
}
.pot-image{
width:1

}

.grid h3 /* Text on image grid*/
 {
    position: absolute;
    bottom:35px;
    width: 87%;
    padding: 15px;
    margin-bottom: 0;
    margin-left: 20px;
    font-weight: 300;
    line-height: 22px;
    color: #ffffff;
    text-align: center;
    background: #E85465;
    border-bottom: 0;
}
.col-6 /* Width of column*/
{
max-width: 23%;
}
.content-contact{
	
	padding:0% 9% 0% 25%;
	
}
a{
	color:#E85465;
}
.my-content p{
	color:#E85465;
	text-al
}
.git-address{
	height: 180px;
	border:#E85465 1px solid;
	display:inline-block;
	text-align:center;
	color:#E85465;
}
.email-address{
	text-align:center;
	border: #E85465 1px solid;
	height : 180px;
	color:#E85465;
		display:inline-block;
}
.linkdin-address{
		text-align:center;
	border: #E85465 1px solid;
	height : 180px;
	color:#E85465;
		display:inline-block;
	
}
#footer /* Footer styling*/
 {
 
padding: 30px 0;
  clear: both;
  font-size: 12px;
  color: #ffffff;
  color: #cccccc;
  text-align: center;
  background: #666666;
  border-top: 8px solid #E85465;
  height: 50px;
}

@media only screen and (max-width: 600px) {
nav.navbar.navbar-expand-sm.bg-light {
    padding: 0%;
}
.navbar-brand {
	width: 100%;
	margin:0%;
	
}
.brand{
	padding:0%;
}
.menu{
	
	padding-top:10%;
	padding-left: 9%;
}
.nav-link {
	margin:0%;
	padding:0%;
	display:inline;
	
}
.nav-link .nav-item {
	display:inline;
	width: 100%;
	margin: 0%;
	
}
.my-content h3{
	text-align:center;
	
}
.my-content button{
	width:100%;
	
}
.content-text{
		padding-top:20px;
		font-size: 160%;
}
}
